.form-container{
    /* margin: 100px auto;
    width: 1000px;
    box-shadow: 0 5px 7px 0 rgba(0, 0, 0, 0.2);
    position: relative;
    border-radius: 10px;
    height: 600px;
    display: grid;
    grid-template-columns: 1fr 1fr; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.close-btn{
    position: absolute;
    top: 2%;
    right: 3%;
    font-size: 1.5 rem;
    z-index: 1;
    color: white;
    cursor: pointer;
}

.form-content-left{
    height: 70%;
    width: 30%;
    background: #fff; 
    border-radius: 10px 0 0 10px;
    position: relative;
    box-shadow: 0 15px 21px 0 rgb(0 0 0 / 11%);
}

.form-img{    
    height: 100%;
    width: 100%;
    object-fit: contain;
    cursor: pointer;
}

.form-content-right{
    height: 70%;
    width: 30%;
    border-radius: 0 10px 10px 0;
    position: relative;
    background: linear-gradient(
    90deg,
    rgba(40,40,40) 0%,
    rgba(17,17,17) 100%);
    box-shadow: 0 15px 21px 0 rgb(0 0 0 / 11%);
    /* animation: slideOut 2s forwards; */
}


.form{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.form{
    position: relative;
    top: 50%;
    left: 50%;
    padding: 10px;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form h1{
    font-size: 1rem;
    text-align: center;
    width: 100%;
    margin-bottom: 1rem;
    color: white;
}

.form-inputs{
    margin-bottom: 0.5rem;
    width: 80%;
}

.form-inputs p {
    font-size: 0.8rem;
    margin-top: 0.5rem;
    color: red;
}

.form-label{
    display: inline-block;
    font-size: 0.8rem;
    margin-bottom: 6px;
    color: white
}

.form-input{
    display: block;
    padding-left: 10px;
    outline: none;
    border-radius: 2px;
    height: 40px;
    width: 100%;
    border: none;
}

.form-input::placeholder{
    color: black;
    font-size:12px;
}

.form-input-btn{
    width: 80%;
    height: 50px;
    margin-top: 10px;
    border-radius: 2px;
    background: linear-gradient(to right, #000000, white);
    outline: none;
    border: none;
    color: white;
    font-size: 1rem;
}

.form-input-btn:hover{
    cursor: pointer;
}

.form-input-login{
    font-size: 0.8rem;
    margin-top: 10px;
    color: white;
    width: 80%;
    text-align: center;
}

.form-input-login a{
    text-decoration: none;
    color: white;
    font-weight: 600;
}

/* Animation Keyframe */

@-webkit-keyframes slideIn {
    0% {
      transform: translateX(-900px);
    }
    100% {
      transform: translateX(0);
    }
  }
  @-moz-keyframes slideIn {
    0% {
      transform: translateX(-900px);
    }
    100% {
      transform: translateX(0);
    }
  }
  @keyframes slideIn {
    0% {
      transform: translateX(-900px);
    }
    100% {
      transform: translateX(0);
    }
  }


  @-webkit-keyframes slideOut {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(900px);
    }
  }
  @-moz-keyframes slideOut {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(900px);
    }
  }
  @keyframes slideOut {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(900px);
    }
  }

/* Responsie Design */

/* fold smartphones, 480x280 phones */ 
@media only screen and (min-width:280px) and (max-width:319px){
    
    .form-container{
        flex-direction: column;
        height: 120%;
    }

    .form-content-left{
        width: 70%;
        height: auto;
    }

    .form-content-right{
        width: 70%;
        height: auto;
    }
    /* .form-content-left{
        border-radius: 10px 10px 0px 0px;
    } */
    .form-content-right{
        border-radius: 0px 0px 10px 10px;
    }

}

/* smartphones, iPhone, portrait 480x320 phones */ 
@media only screen and (min-width:320px) and (max-width:480px){
    .form-container{
        flex-direction: column;
    }

    .form-content-left{
        width: 70%;
        height: auto;
        padding: 10px 0px;
    }

    .form-content-right{
        width: 70%;
        height: auto;
        padding: 10px 0px;
    }
    /* .form-content-left{
        border-radius: 10px 10px 0px 0px;
    } */
    .form-content-right{
        border-radius: 0px 0px 10px 10px;
    }
}

/* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ 
@media only screen and (min-width:481px) and (max-width:640px){
    .main-container{
      height: 100vh;
    }

    .form-container{
        flex-direction: column;
    }

    .form-content-left{
        width: 70%;
        height: auto;
    }

    .form-content-right{
        width: 70%;
        height: auto;
    }
    /* .form-content-left{
        border-radius: 10px 10px 0px 0px;
    } */
    .form-content-right{
        border-radius: 0px 0px 10px 10px;
    }
}

/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ 
@media only screen and (min-width:641px) and (max-width:960px){
    .main-container{
      height: 110vh;
    }

    .form-container{
        flex-direction: column;
    }

    .form-content-left{
        width: 70%;
        height: 30%;
    }

    .form-content-right{
        width: 70%;
        height: 60%;
    }
    /* .form-content-left{
        border-radius: 10px 10px 0px 0px;
    } */
    .form-content-right{
        border-radius: 0px 0px 10px 10px;
    }
}

/* tablet, landscape iPad, lo-res laptops ands desktops */
@media (min-width:961px)  { 

 }

 /* big landscape tablets, laptops, and desktops */
 @media (min-width:1025px) { 
    
    
}